In [14]:
import pandas as pd

In [34]:
Human_interaction= {'Full name':['April Dexter', 'Olabisi Doyin','Olatunbosun Pedro','Oyin Daniels','Sam Anthony'],
'Phonebook_contacts':[1560,875,9350,1280,1300],
'Twitter_followers':[1054,668,782,1500,1800],
'Whatsapp_contacts':[862,1026,1338,744,859],
'Instagram_followers':[1265,850,1550,2000,1164]}

In [35]:
df=pd.DataFrame([Human_interaction], index=[0])
df

,Full name,Phonebook_contacts,Twitter_followers,Whatsapp_contacts,Instagram_followers
0,"[April Dexter, Olabisi Doyin, Olatunbosun Pedr...","[1560, 875, 9350, 1280, 1300]","[1054, 668, 782, 1500, 1800]","[862, 1026, 1338, 744, 859]","[1265, 850, 1550, 2000, 1164]"

In [27]:
df.to_csv('Human_interaction.csv', sep=',')