In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn.feature_selection import SelectFromModel
from math import sqrt

In [2]:
loan=pd.read_csv('loan_data.csv')

In [3]:
def fill_with_mode(df, x):
    df[x].fillna(df[x].mode()[0], inplace=True)
    
has_null_objects = ['Gender', 'Married', 'Dependents',
                    'Self_Employed', 'LoanAmount', 'Loan_Amount_Term',
                    'Credit_History']

for obj in has_null_objects:
    fill_with_mode(loan, obj)

In [4]:
X= loan.iloc[:, 1: -1]
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,Male,No,0,Graduate,No,5849,0.0,120.0,360.0,1.0,Urban
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban

In [6]:
y=loan.iloc[:,-1]
y.head()

0    Y
1    N
2    Y
3    Y
4    Y
Name: Loan_Status, dtype: object

In [7]:
onehot_targets = ['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 
                  'Property_Area']
for target in onehot_targets:
    onehot_temp=pd.get_dummies(X[target])
    X = X.drop(target, axis=1)
    X = pd.concat([onehot_temp, X], axis=1)

In [8]:
le=preprocessing.LabelEncoder()
le.fit(y)
y = le.transform(y)

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [13]:
logreg= LogisticRegression()
knn= KNeighborsClassifier(n_neighbors=7)
rf= RandomForestClassifier(n_estimators=100)
dt = DecisionTreeClassifier()
nb = GaussianNB()
svc = svm.SVC()

In [15]:
models= [logreg, knn, rf, dt, nb, svc]

In [18]:
for model in models:
    model.fit(X_train,y_train)
    y_pred_model=model.predict(X_test)
    print(model, '::', metrics.accuracy_score(y_pred_model,y_test))

LogisticRegression() :: 0.7967479674796748
KNeighborsClassifier(n_neighbors=7) :: 0.6422764227642277
RandomForestClassifier() :: 0.7967479674796748
DecisionTreeClassifier() :: 0.6829268292682927
GaussianNB() :: 0.8292682926829268
SVC() :: 0.7317073170731707

In [17]:
def max_of_two (x,y):
    if x > y:
        print (y)
        else print (x)

SyntaxError: invalid syntax (<ipython-input-17-8870233a3ffc>, line 4)

In [15]:
max_of_two(5,4)

4
5

## Indented string

In [18]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

## Get python version

In [23]:
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.8.3 (default, Jul  2 2020, 17:30:36) [MSC v.1916 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=8, micro=3, releaselevel='final', serial=0)

## Today's date and time

In [29]:
import datetime
now= datetime.datetime.now()
now.strftime('%Y-%M-%D %H:%M:%S')

'2020-39-09/01/20 14:39:58'

## To find the radius of a circle

In [30]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

The area of the circle with radius 2.0 is: 12.566370614359172

## Print first name and last name in reverse order

In [33]:
fname= input('Input first name')
lname= input('Input last name')
print('Hello ' + lname + ' ' +fname)

Hello George Ade

## sequence of comma-separated numbers from user and generate a list and a tuple with those numbers

In [49]:
values = input('Comma seperated values: ')
List = values.split(',')
#Tuple = tuple(List)
print ('List: ', List)
#print ('Tuple: ', Tuple)

List:  ['1', '2', '23']

In [50]:
Tuple = tuple(List)

TypeError: 'tuple' object is not callable

In [46]:
filename = input("Input the Filename: ")
f_extns = filename.split(".")
print ("The extension of the file is : " + repr(f_extns[-1]))

The extension of the file is : 'java'

In [48]:
exam_st_date = (11,12,2014)
print( "The examination will start from : %i / %i / %i"%exam_st_date)

The examination will start from : 11 / 12 / 2014

In [51]:
a = int(input("Input an integer : "))
print(a+a+a)

3