In [2]:
import pandas as pd
import numpy as np

## 1. Use the merge function in pandas to join two dataframes together

In [30]:
trades = pd.DataFrame({'ticker': ['MSFT', 'AMZN','GOOG', 'AAPL'],
    'price': [51.95, 51.95, 720.92, 98.00],
    'quantity': [75, 155,162, 100]},
    columns=['ticker', 'price', 'quantity'])
trades

  ticker   price  quantity
0   MSFT   51.95        75
1   AMZN   51.95       155
2   GOOG  720.92       162
3   AAPL   98.00       100

In [31]:
quotes = pd.DataFrame({'ticker': ['GOOG', 'MSFT', 'AAPL', 'AMZN'],
    'bid': [720.50, 51.95, 51.97, 51.99],
    'ask': [720.93, 51.96, 51.98, 52.00]},
    columns=['ticker', 'bid', 'ask'])
quotes

  ticker     bid     ask
0   GOOG  720.50  720.93
1   MSFT   51.95   51.96
2   AAPL   51.97   51.98
3   AMZN   51.99   52.00

In [32]:
merge_col = trades.merge(quotes,how='outer',on='ticker')
merge_col

  ticker   price  quantity     bid     ask
0   MSFT   51.95        75   51.95   51.96
1   AMZN   51.95       155   51.99   52.00
2   GOOG  720.92       162  720.50  720.93
3   AAPL   98.00       100   51.97   51.98

## 2. Use the dataframe.corr to explore correlation relationship in your dataset.

In [35]:
merge_col.corr()

             price  quantity       bid       ask
price     1.000000  0.601659  0.997801  0.997801
quantity  0.601659  1.000000  0.614116  0.614116
bid       0.997801  0.614116  1.000000  1.000000
ask       0.997801  0.614116  1.000000  1.000000