In [32]:
import numpy as np
import pandas as pd
import datetime
import random

In [37]:
df= pd.DataFrame({'Year':np.random.randint(2010,2020, size=10),'Count':np.random.randint(1,10,size=10)})
df

   Year  Count
0  2011      3
1  2019      7
2  2011      4
3  2010      1
4  2013      1
5  2012      1
6  2011      3
7  2015      8
8  2012      1
9  2011      8

In [39]:
for ind, row in df.iterrows():
    df.loc[ind,'Average Count']= row['Count']/row ['Count']

In [40]:
df

   Year  Count  Average Count
0  2011      3            1.0
1  2019      7            1.0
2  2011      4            1.0
3  2010      1            1.0
4  2013      1            1.0
5  2012      1            1.0
6  2011      3            1.0
7  2015      8            1.0
8  2012      1            1.0
9  2011      8            1.0

In [38]:
#Count=df.groupby('Year').count()